# Data analysis

Short explanation of the dataset: 
- __outlet_id__: The ID of a outlet/market
- __country__: The country in which the outlet is located
- __brand__: "MediaMarkt" or "Saturn"
- __customers_per_day__: The number of customers per day in this outlet 
- __sales_per_day__: The amount of sales for a specific outlet on a specific day
- __currency__: The currency of __sales_per_day__
- __week_id__: Calendar week 
- __weekday__: mon = Monday, tue = Tuesday, ... , sun = Sunday

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import numpy as np
import pandas as pd
data_path = 'data.csv'
mydf = pd.read_csv(data_path, sep=';')

In [2]:
mean1 = mydf['customers_per_day'].mean()
mean2 = mydf['sales_per_day'].mean()
sum = mydf.groupby('country')[['sales_per_day']].sum()
max = mydf['sales_per_day'].max()
count = mydf['sales_per_day'].count()
median = mydf['sales_per_day'].median()
variance = mydf['sales_per_day'].var()
std = mydf['sales_per_day'].std()
uniqueness = mydf['week_id'].unique()

In [3]:
mean2

50823.37805914351

In [4]:
mydf.describe()

       customers_per_day      outlet_id        week_id  sales_per_day
count       18199.000000   18194.000000   18194.000000   18193.000000
mean          259.351503    -301.265747    -852.575684   50823.378059
std         26758.789881   24590.138649   29643.403749   31283.133925
min       -999999.000000 -999999.000000 -999999.000000 -999999.000000
25%           327.000000      97.000000      14.000000   51260.450000
50%           550.000000     255.000000      27.000000   57319.920000
75%          1605.000000     530.000000      40.000000   63163.580000
max          4734.000000     698.000000      52.000000   96225.530000

In [5]:
mydf['sales_per_day'].describe()

count     18193.000000
mean      50823.378059
std       31283.133925
min     -999999.000000
25%       51260.450000
50%       57319.920000
75%       63163.580000
max       96225.530000
Name: sales_per_day, dtype: float64

In [6]:
mydf.dtypes

brand                 object
country               object
currency              object
customers_per_day    float64
outlet_id            float64
week_id              float64
weekday               object
sales_per_day        float64
dtype: object

In [7]:
dailysales = mydf[['country','customers_per_day','sales_per_day']]
dailysales.head()

   country  customers_per_day  sales_per_day
0    spain             3138.0       72169.14
1  germany              378.0       52825.62
2    italy              379.0       53309.83
3  germany             3050.0       74237.45
4    spain              548.0       56621.61

In [8]:
groupedsales = dailysales.groupby('country')
groupedsales.size()

country
austria        2496
germany        4995
greece         2141
italy          2852
netherlands    2137
spain          2495
switzerland    1069
dtype: int64