# Tidying  data

    1. Is each variable one column?
    2. Is each observation one row?
    3. Did you record the recipe for moving from raw to tidy data?
    4. Did you create a code book?
    5. Did you record all parameters, units, and functions applied to the data?

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import numpy as np
import pandas as pd
data_path = 'data.csv'
mydf = pd.read_csv(data_path, sep=';')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
mydf.describe().T

,count,mean,std,min,25%,50%,75%,max
customers_per_day,18199.0,259.351503,26758.789881,-999999.0,327.00,550.00,1605.00,4734.00
outlet_id,18194.0,-301.265747,24590.138649,-999999.0,97.00,255.00,530.00,698.00
week_id,18194.0,-852.575684,29643.403749,-999999.0,14.00,27.00,40.00,52.00
sales_per_day,18193.0,50823.378059,31283.133925,-999999.0,51260.45,57319.92,63163.58,96225.53

In [6]:
mydf.columns

Index(['brand', 'country', 'currency', 'customers_per_day', 'outlet_id',
       'week_id', 'weekday', 'sales_per_day'],
      dtype='object')

In [7]:
mydf.axes

[RangeIndex(start=0, stop=18207, step=1),
 Index(['brand', 'country', 'currency', 'customers_per_day', 'outlet_id',
        'week_id', 'weekday', 'sales_per_day'],
       dtype='object')]

In [20]:
mydf = pd.melt(mydf,
                       ["brand"],
                       var_name="outlet_id",
                       value_name="currency")
mydf = mydf.sort_values(by=["outlet_id"])
mydf.head(10)

               brand outlet_id  currency
16313471  MediaMarkt  currency  currency
10875638         NaN  currency  currency
10875639  MediaMarkt  currency  currency
10875640  MediaMarkt  currency  currency
10875641  MediaMarkt  currency  currency
10875642  MediaMarkt  currency  currency
10875643  MediaMarkt  currency  currency
10875644  MediaMarkt  currency  currency
10875645  MediaMarkt  currency  currency
10875646      Saturn  currency  currency

In [24]:
mydf = pd.read_csv("data.csv", sep = ';', encoding="mac_latin2")
mydf.head(10)

,brand,country,currency,customers_per_day,outlet_id,week_id,weekday,sales_per_day
0,MediaMarkt,spain,EURO,3138.0,100.0,34.0,sat,72169.14
1,Saturn,germany,EURO,378.0,86.0,8.0,mon,52825.62
2,MediaMarkt,italy,EURO,379.0,530.0,28.0,thu,53309.83
3,Saturn,germany,EURO,3050.0,17.0,47.0,sat,74237.45
4,MediaMarkt,spain,EURO,548.0,164.0,7.0,tue,56621.61
5,MediaMarkt,austria,EURO,1424.0,399.0,7.0,fri,59294.79
6,MediaMarkt,italy,EURO,479.0,598.0,46.0,thu,61603.64
7,MediaMarkt,austria,EURO,2028.0,342.0,36.0,sat,-999999.00
8,MediaMarkt,germany,EURO,1425.0,56.0,46.0,fri,62742.69
9,MediaMarkt,switzerland,CHF,266.0,477.0,10.0,mon,51922.36