# Causality

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import numpy as np
import pandas as pd
data_path = 'data.csv'
mydf = pd.read_csv(data_path, sep=';')

In [2]:
mydf.describe()

       customers_per_day      outlet_id        week_id  sales_per_day
count       18199.000000   18194.000000   18194.000000   18193.000000
mean          259.351503    -301.265747    -852.575684   50823.378059
std         26758.789881   24590.138649   29643.403749   31283.133925
min       -999999.000000 -999999.000000 -999999.000000 -999999.000000
25%           327.000000      97.000000      14.000000   51260.450000
50%           550.000000     255.000000      27.000000   57319.920000
75%          1605.000000     530.000000      40.000000   63163.580000
max          4734.000000     698.000000      52.000000   96225.530000

In [3]:
dailysales = mydf[['country','customers_per_day','sales_per_day']]
dailysales.head()

   country  customers_per_day  sales_per_day
0    spain             3138.0       72169.14
1  germany              378.0       52825.62
2    italy              379.0       53309.83
3  germany             3050.0       74237.45
4    spain              548.0       56621.61